*.iml
.idea/
*.ipr
*.iws
**/*.iml

.project
.classpath
.settings/

target/
*/target

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties

/weixin-qydev/src/test/resources/wx-qy-settings-test.xml
/weixin-mp/src/test/resources/wx-mp-settings-test.xml
/weixin-open/src/test/resources/wx-open-settings-test.xml
/weixin-pay/src/test/resources/wx-pay-settings-test.xml
/weixin-app/src/test/resources/wx-app-settings-test.xml

.mvn/timing.properties